/* Select */

.container-element {
	z-index: 1;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 25px;
	outline: none;
	cursor: pointer;
}

.select {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 45px;
	box-sizing: border-box;
	padding: 10px;
}

.container-element:has(input[type="hidden"]:disabled) .arrow::after {
	border-top-color: #CCCCCC;
}

.container.opened > .select > .arrow::after {
	rotate: 180deg;
}

.select-list {
	position: absolute;
	display: flex;
	flex-direction: column;
	min-width: 100%;
	max-height: 40vh;
	max-height: 40dvh;
	top: calc(100% - 1px);
	right: -1px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 10%);
	border: 1px solid #CCCCCC;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10%);
	transition: transform 0.3s ease-in-out, opacity 0.3s, visibility 0.3s;
}

.container.left > .select-list {
	left: -1px;
}

.container.right > .select-list {
	right: -1px;
}

.container.hidden > .select-list {
	display: none;
}

.container.opened > .select-list {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}

.optgpoup {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.optgpoup > li.label {
	padding: 10px;
	font-weight: bold;
	cursor: default;
}

.optgpoup > li.option {
	padding-left: 5% !important;
}

.title, .select-list li {
	font-size: 20px;
	color: #1D1D1B;
	user-select: none;
}

.title {
	flex: 1;
}

.select-list li.option {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 25px;
	padding: 5px;
	cursor: pointer;
}

.select-list li.option:hover, .select-list li.option.active {
	background-color: #BED4DB;
}

.select-list li.option.disabled {
	background-color: #EFEFEF;
	color: #CCCCCC;
	cursor: default;
}