/* Checkbox */

.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	cursor: pointer;
	user-select: none;
	gap: 10px;
		input {
			display: none;
		}
}

.text {
	color: var(--neutral-500);
	font-size: 14px;
}

.indicator {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	outline: 1px solid var(--brand-accent-primary);
	outline-offset: -1px;
	border-radius: 2px;
	width: 20px;
	height: 20px;
	aspect-ratio: 1/1;
	transition: .1s;
		&:hover {
			box-shadow: inset 0 0 0 1px var(--brand-accent-primary);
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			width: 35%;
			height: 70%;
			border: solid var(--neutral-white);
			border-width: 0 2px 2px 0;
			transform: rotate( 45deg);
			scale: 0;
			opacity: 0;
			transition: scale 0.1s, opacity 0.1s;
		}
}

.container > input[type="radio"] ~ .indicator {
	border-radius: 50%;
}

.container > input[type="radio"] ~ .indicator::before {
	border-width: 0;
	border-radius: inherit;
	top: unset;
	transform: unset;
	width: 70%;
	height: 70%;
}

.container > input[type="radio"]:checked ~ .indicator {
	box-shadow: inset 0 0 0 5px var(--brand-accent-primary);
}

.container > input[type="checkbox"]:checked ~ .indicator {
	background-color: var(--brand-accent-primary);
}

.container > input:checked ~ .indicator::before {
	scale: 1;
	opacity: 1;
}