/* Input */

.container {
	display: flex;
    align-items: center;
	width: 100%;
	min-height: 50px;
	position: relative;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
	z-index: 0;
}

.container > input, .container > textarea {
	width: 100% !important;
	min-height: 100% !important;
	max-height: 500px !important;
	max-height: 50dvh !important;
	padding: 10px 5px !important;
	margin: 0 !important;
    font-size: 1.3em !important;
	border: 0 !important;
	box-sizing: border-box !important;
	background-color: transparent !important;
	outline: none;
	resize: none;
}

.container.disabled {
	background-color: #EFEFEF;
}

.container > input:-webkit-autofill,
.container > input:-webkit-autofill:hover, 
.container > input:-webkit-autofill:focus, 
.container > input:-webkit-autofill:active{
	-webkit-background-clip: text;
}

.container > input:focus {
	outline: none;
}

.container > .placeholder {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 5px;
	color: #7A7A73;
	font-size: 1.2em;
	z-index: -1;
	user-select: none;
	transition: transform 0.3s;
}

.container > .placeholder::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 5px;
	background-color: #FFFFFF;
	z-index: -1;
}

.container > input:required ~ .placeholder::after {
	content: "*";
}

.container > input:focus ~ .placeholder,
.container > textarea:focus ~ .placeholder,
.container > input:not([value=""]) ~ .placeholder,
.container > textarea:not(:empty) ~ .placeholder,
.container > input:not(:empty) ~ .placeholder {
	transform: translate(-10%, -55%) scale(0.8);
	z-index: 0;
}

.container.error {
	border-color: #FF6D6D;
}

.container.error > .placeholder {
	color: #FF6D6D;
}

.error {
	color: #FF6D6D;
}